body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #16425b;
    padding-top: 10px;   
}
header nav{
    padding:20px;
}

 header nav ul{
    margin-right: 3vw;
    display: flex;
    justify-content: end;
    list-style: none;
    
}
header nav ul li{
    margin-left: 3vw;
    font-size: 1.2rem; 
   
}
 a{
text-decoration: none;
color:whitesmoke;
}

#aboutMe{
    margin-top: 10vh;
    text-align: center;
}

.content{
    margin-top: 3vw;
    display:flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
#about-pic{
    width:200px;
    height:200px;
    border-radius:50%;
}
#text{
    inline-size: 50vw; 
    overflow: hidden;
}
#projects{
    background-color: beige;
    margin-top: 20vh;
    text-align: center;
}
.mainApp{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}
#mainImg{
    width:600px;
    height:400px
}
.imgRow{
    display:flex;
    justify-content: center;
    gap:10px;
}
.rowImg{
    width:300px;
    height:250px;
}